.score-board {
    width: 320px;
}

.score-board div {
    margin-top: 5px;
    color: #b6aeae;
    text-align: center;
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    background-color: #0b3b49;
}

.score-board div:first-child {
    background-color: #6e150b;
}